.links,.news{
    width:570px;
    float: left;
}
#footer-link-news{
    font-size: 15px;
    height: 120px;
}
#footer-link-news>div>a>.link,#aboutUs>a>.link{
    font-size: 25px;
}
#footer-link-news>div>ul>li,#aboutUs>ul>li{
    float:left;
    margin: 5px 8px;
}
.hr{
    border: 1px solid black;
}
#aboutUs{
    font-size: 20px;
   margin-top: 10px;
    width:480px;
}
#service,#focus{
    float: right;
    font-size: 30px;
    margin:0 20px;
}
#record{
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}
.clearfix::after{
    content:'';
	display:block;
	clear:both;
}
#focus img{
    width:100px;
	height:100px;
}